@charset "utf-8";

/*Declaração de variáveis*/
:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-fundo: #00030C; 
    --fonte-principal: "Inter";
}
* {
    margin:0;
    padding: 0;
}
body{
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
.principal {
    background-image: url("../imgs/Background.png");
    background-repeat: no-repeat;/*sem repetição*/
    background-size: contain;/*preenche todo o container*/
    align-items: center; /*alinha os elementos ao centro do grid (vertical)*/
    text-align: center; /*a alinha elementos no centro do grid (horizontal)*/
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50% 50%;
}
.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao:hover{
    scale: 1.1;
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}
.container__titulo{
    font-size: 28px;
    font-weight: 700;
}
.container__imagem{
    margin: 1em 0 2em  0;
}
.container__caixa{
    margin: 0 6em;
}
.secundario{
    align-items: center;
    /* text-align: center; */
    margin: 0 10em;
}
.secundario__imagem{
    width: 80%; /*imagem com 80% da coluna dele */ 
}
.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundario);
    margin-right: 2em;
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}
/*aplica flex box nos icones da lista*/
.dispositivos__lista{
    display: flex;
    justify-content: center;/*centraliza os items*/
    list-style-type: none;/*tira os "*" da lista*/
    margin: 5em 0;
}

/*centraliza todos os icones da section dispositivos*/
.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
}
.rodape__lista{
    display: flex;
    justify-content: center;/*centraliza os itens*/
    list-style-type: none;
}

.rodape__logo{
    margin-bottom: 2em;
}

.lista__item{
    font-size: 32px;
    color: var(--branco-principal);
}

.lista__link a{
    text-decoration: none;
    margin-right: 1em;
    color: var(--branco-principal);
}
.rodape__texto{
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}
.rodape{
    text-align: center;
    margin: 5em 3em;
}

.lista__link a:hover{
    color: var(--botao-azul);
}